:root {
  --TRUE: 1;
  --FALSE: 0;
  --neutral--black--0: #000000;
  --neutral--gray--950: #171717;
  --neutral--gray--900: #1c1c1c;
  --neutral--gray--800: #262626;
  --neutral--gray--700: #333333;
  --neutral--gray--600: #5c5c5c;
  --neutral--gray--500: #7b7b7b;
  --neutral--gray--400: #a3a3a3;
  --neutral--gray--300: #d1d1d1;
  --neutral--gray--200: #ebebeb;
  --neutral--gray--100: #f5f5f5;
  --neutral--gray--50: #f7f7f7;
  --neutral--gray--0: #ffffff;
  --neutral--slate--950: #0e121b;
  --neutral--slate--900: #181b25;
  --neutral--slate--800: #222530;
  --neutral--slate--700: #2b303b;
  --neutral--slate--600: #525866;
  --neutral--slate--500: #717784;
  --neutral--slate--400: #99a0ae;
  --neutral--slate--300: #cacfd8;
  --neutral--slate--200: #e1e4ea;
  --neutral--slate--100: #f2f5f8;
  --neutral--slate--50: #f5f7fa;
  --neutral--slate--0: #ffffff;
  --blue--950: #122368;
  --blue--900: #182f8b;
  --blue--800: #1f3bad;
  --blue--700: #2547d0;
  --blue--600: #3559e9;
  --blue--500: #335cff;
  --blue--400: #6895ff;
  --blue--300: #97baff;
  --blue--200: #c0d5ff;
  --blue--100: #d5e2ff;
  --blue--50: #ebf1ff;
  --orange--950: #71330a;
  --orange--900: #96440d;
  --orange--800: #b75310;
  --orange--700: #ce5e12;
  --orange--600: #e16614;
  --orange--500: #fa7319;
  --orange--400: #ffa468;
  --orange--300: #ffc197;
  --orange--200: #ffd9c0;
  --orange--100: #ffe6d5;
  --orange--50: #fff3eb;
  --red--950: #681219;
  --red--900: #8b1822;
  --red--800: #ad1f2b;
  --red--700: #d02533;
  --red--600: #e93544;
  --red--500: #fb3748;
  --red--400: #ff6875;
  --red--300: #ff97a0;
  --red--200: #ffc0c5;
  --red--100: #ffd5d8;
  --red--50: #ffebec;
  --green--950: #0b4627;
  --green--900: #16643b;
  --green--800: #1a7544;
  --green--700: #178c4e;
  --green--600: #1daf61;
  --green--500: #1fc16b;
  --green--400: #3ee089;
  --green--300: #84ebb4;
  --green--200: #c2f5da;
  --green--100: #d0fbe9;
  --green--50: #e0faec;
  --yellow--950: #624c18;
  --yellow--900: #86661d;
  --yellow--800: #a78025;
  --yellow--700: #c99a2c;
  --yellow--600: #e6a819;
  --yellow--500: #f6b51e;
  --yellow--400: #ffd268;
  --yellow--300: #ffe097;
  --yellow--200: #ffecc0;
  --yellow--100: #ffefcc;
  --yellow--50: #fffaeb;
  --purple--950: #351a75;
  --purple--900: #3d1d86;
  --purple--800: #4c25a7;
  --purple--700: #5b2cc9;
  --purple--600: #693ee0;
  --purple--500: #7d52f4;
  --purple--400: #8c71f6;
  --purple--300: #a897ff;
  --purple--200: #cac0ff;
  --purple--100: #dcd5ff;
  --purple--50: #efebff;
  --sky--950: #124b68;
  --sky--900: #18658b;
  --sky--800: #1f7ead;
  --sky--700: #2597d0;
  --sky--600: #35ade9;
  --sky--500: #47c2ff;
  --sky--400: #68cdff;
  --sky--300: #97dcff;
  --sky--200: #c0eaff;
  --sky--100: #d5f1ff;
  --sky--50: #ebf8ff;
  --pink--950: #68123d;
  --pink--900: #8b1852;
  --pink--800: #ad1f66;
  --pink--700: #d0257a;
  --pink--600: #e9358f;
  --pink--500: #fb4ba3;
  --pink--400: #ff68b3;
  --pink--300: #ff97cb;
  --pink--200: #ffc0df;
  --pink--100: #ffd5ea;
  --pink--50: #ffebf4;
  --teal--950: #0b463e;
  --teal--900: #16645a;
  --teal--800: #1a7569;
  --teal--700: #178c7d;
  --teal--600: #1daf9c;
  --teal--500: #22d3bb;
  --teal--400: #3fdec9;
  --teal--300: #84ebdd;
  --teal--200: #c2f5ee;
  --teal--100: #d0fbf5;
  --teal--50: #e4fbf8;
  --alpha--slate--alpha-24: rgba(153, 160, 174, 0.24);
  --alpha--slate--alpha-16: rgba(153, 160, 174, 0.16);
  --alpha--slate--alpha-10: rgba(153, 160, 174, 0.1);
  --alpha--gray--alpha-24: rgba(163, 163, 163, 0.24);
  --alpha--gray--alpha-16: rgba(163, 163, 163, 0.16);
  --alpha--gray--alpha-10: rgba(163, 163, 163, 0.1);
  --alpha--blue--alpha-24: rgba(71, 108, 255, 0.24);
  --alpha--blue--alpha-16: rgba(71, 108, 255, 0.16);
  --alpha--blue--alpha-10: rgba(71, 108, 255, 0.1);
  --alpha--orange--alpha-24: rgba(250, 115, 25, 0.24);
  --alpha--orange--alpha-16: rgba(250, 115, 25, 0.16);
  --alpha--orange--alpha-10: rgba(250, 115, 25, 0.1);
  --alpha--red--alpha-24: rgba(251, 55, 72, 0.24);
  --alpha--red--alpha-16: rgba(251, 55, 72, 0.16);
  --alpha--red--alpha-10: rgba(251, 55, 72, 0.1);
  --alpha--green--alpha-24: rgba(31, 193, 107, 0.24);
  --alpha--green--alpha-16: rgba(31, 193, 107, 0.16);
  --alpha--green--alpha-10: rgba(31, 193, 107, 0.1);
  --alpha--yellow--alpha-24: rgba(251, 198, 75, 0.24);
  --alpha--yellow--alpha-16: rgba(251, 198, 75, 0.16);
  --alpha--yellow--alpha-10: rgba(251, 198, 75, 0.1);
  --alpha--purple--alpha-24: rgba(120, 77, 239, 0.24);
  --alpha--purple--alpha-16: rgba(120, 77, 239, 0.16);
  --alpha--purple--alpha-10: rgba(120, 77, 239, 0.1);
  --alpha--sky--alpha-24: rgba(71, 194, 255, 0.24);
  --alpha--sky--alpha-16: rgba(71, 194, 255, 0.16);
  --alpha--sky--alpha-10: rgba(71, 194, 255, 0.1);
  --alpha--pink--alpha-24: rgba(251, 75, 163, 0.24);
  --alpha--pink--alpha-16: rgba(251, 75, 163, 0.16);
  --alpha--pink--alpha-10: rgba(251, 75, 163, 0.1);
  --alpha--teal--alpha-24: rgba(34, 211, 187, 0.24);
  --alpha--teal--alpha-16: rgba(34, 211, 187, 0.16);
  --alpha--teal--alpha-10: rgba(34, 211, 187, 0.1);
  --alpha--white--alpha-24: rgba(255, 255, 255, 0.24);
  --alpha--white--alpha-16: rgba(255, 255, 255, 0.16);
  --alpha--white--alpha-10: rgba(255, 255, 255, 0.1);
  --alpha--black--alpha-24: rgba(23, 23, 23, 0.24);
  --alpha--black--alpha-16: rgba(23, 23, 23, 0.16);
  --alpha--black--alpha-10: rgba(23, 23, 23, 0.1);
  --radius-0: 0rem;
  --radius-2: 0.125rem;
  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-28: 1.75rem;
  --radius-full: 999px;
  --spacing-0: 0rem;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-14: 0.875rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;

  /* Tokens */
  --static--static-black: var(--neutral--slate--950);
  --static--static-white: var(--neutral--slate--0);
  --bg--strong-950: var(--neutral--slate--950);
  --bg--surface-800: var(--neutral--slate--800);
  --bg--sub-300: var(--neutral--slate--300);
  --bg--soft-200: var(--neutral--slate--200);
  --bg--weak-50: var(--neutral--slate--50);
  --bg--white-0: var(--neutral--slate--0);
  --bg--black-0: var(--neutral--black--0);
  --text--strong-950: var(--neutral--slate--950);
  --text--sub-600: var(--neutral--slate--600);
  --text--soft-400: var(--neutral--slate--400);
  --text--disabled-300: var(--neutral--slate--300);
  --text--white-0: var(--neutral--slate--0);
  --stroke--strong-950: var(--neutral--slate--950);
  --stroke--sub-300: var(--neutral--slate--300);
  --stroke--soft-200: var(--neutral--slate--200);
  --stroke--white-0: var(--neutral--slate--0);
  --icon--strong-950: var(--neutral--slate--950);
  --icon--sub-600: var(--neutral--slate--600);
  --icon--soft-400: var(--neutral--slate--400);
  --icon--disabled-300: var(--neutral--slate--300);
  --state--faded--dark: var(--neutral--slate--800);
  --state--faded--base: var(--neutral--slate--500);
  --state--faded--light: var(--neutral--slate--200);
  --state--faded--lighter: var(--neutral--slate--100);
  --state--information--dark: var(--blue--950);
  --state--information--base: var(--blue--500);
  --state--information--light: var(--blue--200);
  --state--information--lighter: var(--blue--50);
  --state--warning--dark: var(--orange--950);
  --state--warning--base: var(--orange--500);
  --state--warning--light: var(--orange--200);
  --state--warning--lighter: var(--orange--50);
  --state--error--dark: var(--red--950);
  --state--error--base: var(--red--500);
  --state--error--light: var(--red--200);
  --state--error--lighter: var(--red--50);
  --state--success--dark: var(--green--950);
  --state--success--base: var(--green--500);
  --state--success--light: var(--green--200);
  --state--success--lighter: var(--green--50);
  --state--away--dark: var(--yellow--950);
  --state--away--base: var(--yellow--500);
  --state--away--light: var(--yellow--200);
  --state--away--lighter: var(--yellow--50);
  --state--feature--dark: var(--purple--950);
  --state--feature--base: var(--purple--500);
  --state--feature--light: var(--purple--200);
  --state--feature--lighter: var(--purple--50);
  --state--verified--dark: var(--sky--950);
  --state--verified--base: var(--sky--500);
  --state--verified--light: var(--sky--200);
  --state--verified--lighter: var(--sky--50);
  --state--highlighted--dark: var(--pink--950);
  --state--highlighted--base: var(--pink--500);
  --state--highlighted--light: var(--pink--200);
  --state--highlighted--lighter: var(--pink--50);
  --state--stable--dark: var(--teal--950);
  --state--stable--base: var(--teal--500);
  --state--stable--light: var(--teal--200);
  --state--stable--lighter: var(--teal--50);
  --icon--white-0: var(--neutral--slate--0);
  --overlay--overlay-gray: rgba(51, 51, 51, 0.24);
  --overlay--overlay-slate: rgba(43, 48, 59, 0.24);
  --social--apple: #000000;
  --social--twitter: #010101;
  --social--github: #24292f;
  --social--notion: #1e2226;
  --social--tidal: #000000;
  --social--amazon: #353e47;
  --social--zendesk: #16140d;
  --illustration--strong-400: var(--neutral--gray--400);
  --illustration--sub-300: var(--neutral--gray--300);
  --illustration--soft-200: var(--neutral--gray--200);
  --illustration--weak-100: var(--neutral--gray--100);
  --illustration--white-0: var(--neutral--gray--0);
  --primary-green: #81f28e;
  --primary-dark-green: #4cb157;
  --bg--base-500: #f4f0ec;
  --bg--base-600: #f7f6f2;
  --bg--base-700: #f9f9f9;
  --regular-shadow-x-small: 0 1px 2px 0 rgba(10, 13, 20, 0.03);
}
